#box1 {
	background-color: rgb(58, 95, 95);
	border-radius: 3px;
	border-color: rgb(27, 13, 61);
	border-width: 2px;
	border-style: solid;
	width: 100px;
	height: 100px;
	position: relative;
	left: 30px;
}
#box2 {
	background-color: rgb(95, 79, 58);
	border-radius: 3px;
	border-color: rgb(61, 60, 13);
	border-width: 2px;
	border-style: solid;
	width: 50px;
	height: 50px;
	position: absolute;
	box-sizing: border-box;
	top: 25px;
	left: 25px;
}
