#countainer {
	border: 2px solid;
}
#countainer > p {
	background-color: burlywood;
	border: 2px solid blue;
}
#countainer ~ p {
	background-color: rgb(117, 86, 46);
	border: 2px solid rgb(10, 10, 41);
}
a {
	font-family: Farro;
}
a:link {
	text-shadow: 3px 3px 5px;
	color: #000;
}
a:hover {
	color: rgb(15, 85, 6);
	text-shadow: 3px 3px 5px;
	font-size: 1.1em;
}
#the-hover p {
	display: none;
}

#the-hover:hover p {
	display: block;
	background-color: brown;
}
#greeting {
	display: inline-block;
}
#greeting:hover {
	font-size: 3em;
}
#greeting:hover::first-letter {
	color: blue;
}
#greeting::first-letter {
	color: rgb(9, 9, 39);
	font-style: italic;
}
#para::selection {
	background-color: blueviolet;
	color: rgb(46, 10, 22);
}
