.dropdown-frame button {
	background-color: rgb(175, 175, 175);
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px 10px;
	cursor: pointer;

}
.dropdown-frame{
    display: inline-block;
}
.dropdown-frame a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px 10px;
}
.dropdown-frame .items {
	display: none;
	background-color: rgb(230, 230, 230);
	position: absolute;
	min-width: 100px;
	box-shadow: 2px 2px 5px;
}
.dropdown-frame:hover .items {
	display: inline-block;
}
.dropdown-frame a:hover{
  	background-color: rgb(179, 179, 179);
}