body {
	margin: 3px;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: solid black;
	height: 70vh;
}
.box {
	height: 150px;
	width: 150px;
	font-size: 8em;
	text-align: center;
	border-radius: 12px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
	border: solid 3px;
}
@keyframes slideleft {
	from {
		transform: translate(-50px);
	}
}
@keyframes sliderightto {
	from {
		transform: translate(50px);
	}
}

#box1 {
	background-color: hsl(0, 27%, 41%);
	animation: slideleft 1s;
}
#box2 {
	background-color: hsl(313, 27%, 41%);
	animation: sliderightto 1s;
}
#box3 {
	background-color: hsl(222, 27%, 41%);
}
#box4 {
	background-color: hsl(111, 27%, 41%);
}
